<template name="home">
<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
<style>
h3 {
	font-family: 'Tangerine', serif;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
  <div class="home">
    <div class="page-header">
<!--script font of "my pregnancy log' -->
      <h3>My Pregnancy Log</h3>
    </div>
    <p>
      Welcome to your pregnancy log. Whether you're trying to get pregnate, or already are, this app will be with you on your
ourney through childbirth.
 "My Pregnancy App" was developed to facilitate the communication of HIPPA information to your OB/GYN. If you're trying, 
some features include a period calendar and tracker, ovulation calculator, fertility stats, and an online forum.  In the case you have become pregnate,
you can store things such as mood, foods, medicines, sleep, or any physical symptoms.
    </p>
  </div>
</template>
